html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

#root {
  width: 100%;
}
