.frame {
  width: 90%;
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
}
.name,
.job,
.email {
}

.name {
  margin-bottom: marginNormal;
}
.job {
}

.emailAndMessage {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
}
.photoBtn,
.addBtn {
  outline: 0;
  border: 0;
  cursor: pointer;
  flex: 1 1 50%;
}
