.nameAndJob {
  display: flex;
}

.name {
  flex: 1 1 30%;
}
.job {
  flex: 1 1 70%;
}

.emailAndMessage {
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
}
.photoBtn,
.addBtn {
  outline: 0;
  border: 0;
  flex: 1 1 50%;
}
