@value normalBlue from '../common/colors.css';

.header {
  display: flex;
  justify-content: space-between;
  color: ;
}

.logout {
  outline: 0;
  border: 0;
  background-color: white;
  cursor: pointer;
}
